    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:12
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-5-pin-connector:before { content: "\f100"; }
.flaticon-audiotape:before { content: "\f101"; }
.flaticon-cloud:before { content: "\f102"; }
.flaticon-compact-disc-storage:before { content: "\f103"; }
.flaticon-computer-cpu:before { content: "\f104"; }
.flaticon-data-storage:before { content: "\f105"; }
.flaticon-data-storage-1:before { content: "\f106"; }
.flaticon-data-storage-2:before { content: "\f107"; }
.flaticon-database:before { content: "\f108"; }
.flaticon-download-arrow:before { content: "\f109"; }
.flaticon-download-from-cloud:before { content: "\f10a"; }
.flaticon-file-folder:before { content: "\f10b"; }
.flaticon-floppy-diskette:before { content: "\f10c"; }
.flaticon-hard-disk:before { content: "\f10d"; }
.flaticon-hdd-storage:before { content: "\f10e"; }
.flaticon-ipod:before { content: "\f10f"; }
.flaticon-photo-camera:before { content: "\f110"; }
.flaticon-save-icon:before { content: "\f111"; }
.flaticon-sd-card:before { content: "\f112"; }
.flaticon-sim-card:before { content: "\f113"; }
.flaticon-sim-card-1:before { content: "\f114"; }
.flaticon-smartphone:before { content: "\f115"; }
.flaticon-speaker:before { content: "\f116"; }
.flaticon-ssd-storage:before { content: "\f117"; }
.flaticon-temporal-data-storage:before { content: "\f118"; }
.flaticon-upload-to-cloud:before { content: "\f119"; }
.flaticon-usb-memory:before { content: "\f11a"; }
.flaticon-usb-plug:before { content: "\f11b"; }
.flaticon-usb-plug-1:before { content: "\f11c"; }
.flaticon-usb-symbol:before { content: "\f11d"; }
    
    $font-Flaticon-5-pin-connector: "\f100";
    $font-Flaticon-audiotape: "\f101";
    $font-Flaticon-cloud: "\f102";
    $font-Flaticon-compact-disc-storage: "\f103";
    $font-Flaticon-computer-cpu: "\f104";
    $font-Flaticon-data-storage: "\f105";
    $font-Flaticon-data-storage-1: "\f106";
    $font-Flaticon-data-storage-2: "\f107";
    $font-Flaticon-database: "\f108";
    $font-Flaticon-download-arrow: "\f109";
    $font-Flaticon-download-from-cloud: "\f10a";
    $font-Flaticon-file-folder: "\f10b";
    $font-Flaticon-floppy-diskette: "\f10c";
    $font-Flaticon-hard-disk: "\f10d";
    $font-Flaticon-hdd-storage: "\f10e";
    $font-Flaticon-ipod: "\f10f";
    $font-Flaticon-photo-camera: "\f110";
    $font-Flaticon-save-icon: "\f111";
    $font-Flaticon-sd-card: "\f112";
    $font-Flaticon-sim-card: "\f113";
    $font-Flaticon-sim-card-1: "\f114";
    $font-Flaticon-smartphone: "\f115";
    $font-Flaticon-speaker: "\f116";
    $font-Flaticon-ssd-storage: "\f117";
    $font-Flaticon-temporal-data-storage: "\f118";
    $font-Flaticon-upload-to-cloud: "\f119";
    $font-Flaticon-usb-memory: "\f11a";
    $font-Flaticon-usb-plug: "\f11b";
    $font-Flaticon-usb-plug-1: "\f11c";
    $font-Flaticon-usb-symbol: "\f11d";